DEBUG=true

DB_ENGINE=sqlite
DB_NAME=sleepwatch
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

EMAIL_DELIVERY_MODE=gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
EMAIL_TIMEOUT=20
EMAIL_HOST_USER=twoj_adres_gmail@gmail.com
EMAIL_HOST_PASSWORD=tu_wklej_haslo_aplikacji_google
